In [ ]:
'''Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple'''

In [2]:
var_a = "Faizal Nazarulla"
var_b = [1,2,5.5,True,5+6j]
var_c = 2.9
var_d = (5,6,9,8,10)

In [ ]:
'''Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.'''

In [ ]:
'''
 i) = none
ii) = string
iii) = List
iv) = Integer
'''

In [ ]:
''' Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) ** '''

In [ ]:
''' i) Division Operator
   ii) Modulus Operator
  iii) Floor Division Operator
   iv) Exponentiation Operator '''

In [ ]:
''' Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type. '''

In [16]:
lst = [1,2.2,5+6j,True,"Faizal",[1,2,3],(5,6,9),{"name" : "Faizal","Age": 25 },False,{7,8,9}]

for i in lst:
  print(f"Element = {i} Data_Type = {type(i)}")

Element = 1 Data_Type = <class 'int'>
Element = 2.2 Data_Type = <class 'float'>
Element = (5+6j) Data_Type = <class 'complex'>
Element = True Data_Type = <class 'bool'>
Element = Faizal Data_Type = <class 'str'>
Element = [1, 2, 3] Data_Type = <class 'list'>
Element = (5, 6, 9) Data_Type = <class 'tuple'>
Element = {'name': 'Faizal', 'Age': 25} Data_Type = <class 'dict'>
Element = False Data_Type = <class 'bool'>
Element = {8, 9, 7} Data_Type = <class 'set'>

In [ ]:
''' Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.'''

In [19]:
numberA = int(input("Enter the Number "))
numberB = int(input("Enter the Number "))

count = 0
while numberA >= numberB:
  numberA -= numberB
  count += 1
  if numberA%numberB == 0:
    print(f"{numberA} is divisible by {numberB}")
    print(f"{numberB} divides {numberA} by {count} times")
else: print(f"{numberA} is not divisble by {numberB}")

Enter the Number 50
Enter the Number 3
2 is not divisble by 3

In [ ]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.'''

In [21]:
lst1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in lst1:
  if i%3==0:
    print(f"{i} is divisible ny 3")
  else: print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible ny 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible ny 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible ny 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible ny 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible ny 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible ny 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible ny 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible ny 3
25 is not divisible by 3

In [ ]:
''' Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.'''

In [ ]:
# Mutable data types are those whose values can be modified after creation.
# Immutable data types are those whose values cannot be modified after creation.

In [27]:
a = ["faizal",1,2]
a[0] = "Faizal Nazarulla"

In [28]:
a

['Faizal Nazarulla', 1, 2]

In [30]:
b = "Faizal"
a[3] = s

NameError: ignored